*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #052913;
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/clock.png) no-repeat center center/cover;    
    box-shadow: 0 -15px 15px rgba(255,255,255,0.03),
                inset 0 -15px 15px  rgba(255,255,255,0.03),
                0 15px 15px rgba(0,0,0,0.5),
                inset 0 15px 15px rgba(0,0,0,0.5);
     border-radius: 50%;
     border:4px solid #052913;
}
.clock::after{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index:999;
}
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}
.clock .hour,.hr{
    width: 160px;
    height: 160px;
}
.clock .min,.mn{
    width: 190px;
    height: 190px;
}
.clock .sec,.sc{
    width: 230px;
    height: 230px;
}
.hr,.mn,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:after{
content: "";
position: absolute;
width: 8px;
height: 80px;
background: #000;
border-radius: 6px 6px 0 0;
z-index:10;
}
.mn::after{
    content:"";
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: #4d2b9c;
    border-radius: 6px 6px 0 0;
    z-index:11;
}
.sc::after{
    content:"";
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #f54ae7;
    border-radius: 6px 6px 0 0 ;
    z-index:12;
}