@media (max-width:1050px) {
    .header-navigation{
        background-color: #000;
    }
    .header-nav-desktop, .header-contacts,  .logo-desktop{
        display: none;
        }
    .header-nav-mobile{
        display: block;
        height: 30px;
        overflow: hidden;
        transition:height 1s ease-in-out ;   
        
        
    }
    .hnm-full{
        height: 200px;
        transition: height 1s ease-in-out;
    
    }
   

    .header-nav-mobile .row .col-10{
        display: flex;
        justify-content: flex-end;
        
    }
    .header-nav-mobile .row{
        align-items: start;
    }
    .header-nav-mobile .logo{
        margin-left: 38px;
        margin-bottom: 10px;
    }
    
    .header-nav-mobile nav ul{
        display: flex;
        flex-direction: column;
    
    }
    .header-nav-mobile nav ul li+li{
        margin-top: 10px;
    }
    .header-nav-mobile nav ul li:first-child{
        margin-left: 38px;
    }
    .menu-btn{
     margin-right: 50px;
    }
    

    }

    @media (max-width:1000px){
        .menu-btn{
            margin-right: 150px;
           }
    }
    @media (max-width:900px){
        .menu-btn{
            margin-right: 250px;
           }
    }
    @media (max-width:800px){
        .menu-btn{
            margin-right: 350px;
           }
    }
    @media (max-width:700px){
        .menu-btn{
            margin-right: 400px;
           } 
    }
    @media (max-width:650px){
        .menu-btn{
            margin-right: 500px;
           }
    }
    @media (max-width:600px){
        .menu-btn{
            margin-right: 600px;
           }
    }
    @media (max-width:500px){
        .menu-btn{
            margin-right: 650px;
           }
    }
    @media (max-width:400px){
        .menu-btn{
            margin-right:700px;
           }
    }
    @media (max-width:350px){
        .menu-btn{
            margin-right: 750px;
           }
    }
