
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: 'Roboto', sans-serif;
     color:#fff;
}
h1,h2,h3,h4,h5,h6{
    display: inline-block;

  
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#fff;
    
      
}
/* header start */


.header{
    background:#fff url(../img/slider/image1.webp) no-repeat center center ;
    background-size: cover;
    height: 100vh;
    transition: 1s  ease;
    
   }
.header-second {
    background:#fff url(../img/slider/image2.webp) no-repeat center center ;
    background-size: cover;
    height: 100vh;
    transition: 1s ease;
}
.header-contacts{
    height: 45px;
    padding: 20px 0;
}

.header .contacts p{
    font-size: 13px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.6);
    
    
}

.header .contacts p a{
    cursor: pointer;
    color:#fff;
}
.header .sosials{
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
}
.header .sosials i{
    font-size: 13px;
    color:#fff;
}
.header .sosials i:hover{
    color:#000;
}

.header-navigation{
    background:#ffffff1a;
    padding: 30px 0;   
    position: relative;
    top: 0;
    

}

.header-navigation .logo{
    font-size: 24px;
    font-weight: 700;
}
.header-navigation .header-nav ul li{
display: inline-block;
}
.header-navigation .header-nav ul li+li{
    margin-left: 38px;
}
.header-navigation .header-nav .active{
   color: #cdb30c;
   transition: color .3s ease;
}
.header-navigation .header-nav ul  :first-child :hover{
    color:#fff;
    transition: color .3s ease;

}
.header-navigation .header-nav ul li a{
    font-size: 16px;
    font-weight: 600;
  

}

.info{
    padding: 45px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition:1s  ease
}
.info h3{
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.info h1{
    font-family: "Roboto Condensed",sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 62px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.slider-circles{
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
   
    
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.inner-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
    transition: 1s ease;
    
}
.active-circle{
    background-color: #fff;
    transition: 1s ease;
}

.header-buttons a{
    padding: 15px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.header-buttons .start{
    background-color: #cdb30c;
}
.header-buttons .portfolio{
    background-color: #fff;
    color: #000;
}
/* header end */

 /* solution start */
 .solution{
     height: 700px;
     background:#fff url(../img/Solution/solution-bg.png.webp);
     padding: 110px 0;
 }

 .solution .solution-shape h1{
     text-transform: uppercase;
     font-family: "Roboto Condensed" ,"san-serif";
     font-size: 34px;
     line-height: 48px;
     font-weight: 700;
     max-width: 350px;
     letter-spacing: 1px;
     margin-bottom: 30px;
 }
 .solution .solution-shape p{
     width: 490px;
     font-size: 16px;
     font-weight: 400;
     color:#999;
     line-height: 29px;
     margin-bottom: 50px;
 }
 .solution-box{
     width: 235px;
     height: 215px;
     background-color: #1a1a1a;
     border-radius:5px;
     padding: 20px;
     margin-left:15px;
     margin-bottom: 40px;
     position: relative;
    }
    .solution-box h3{
     text-transform: uppercase;
     font-size:18px ;
     font-weight: 700;
     font-family: 'Roboto Condensed', sans-serif;
     line-height: 27px;

 }
 

 .solution  .solution-box i{
     color:#cdb30c;
     font-size: 50px;
     margin-left: 100px;   
     margin-bottom: 20px;  
 }
 .solution .active{
     background-color: #cdb30c;
     color:#000;
     margin-left: 0;
     
 }
 .solution .active i{
     color:#000;
 }
 
.solution .solution-box-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid #cdb30c;
    background-color: #1a1a1a;   
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size:18px;
    font-weight: 600;
    left: 120px;
    bottom:-20px;
    visibility: hidden;
}


.solution-box:hover{
    background-color: #cdb30c;
    color:#000;
}
.solution-box:hover  .s-icon{
    color:#000;
}
.solution-box:hover .solution-box-circle{   
    visibility: visible;
    transition: .5s ease; 
    transform: translateX(20px);
}


  /* solution end */

  /* Creative start */
  .creatives{
      height: 700px;
      color:#000;
      
  }
  .creatives .creative-img{      
   height: 700px;
   background:url(../img/creative/creative-img.webp)   no-repeat  center  center ;
   background-size: cover;
   box-shadow: 0px 2px 25px -13px rgb(0 0 0 / 26%);
    }

.creative-info{
    padding: 0  0  0 57px;
    position: relative;

    
}
.creatives .creative-info h5{
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    color:#cdb30c;
    text-transform: uppercase;
    margin-bottom: 30px;
    

}
.creatives .creative-info h2{
    font-size: 34px;
    font-family: "Roboto Condensed" "san-serif";
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:rgba(0,0,0,0.8);
    margin-bottom: 35px;
}
.creatives .creative-info p{
    
    font-size: 16px;
    line-height:29px ;
    font-weight: 400;
    color:#999;
    margin-bottom: 60px;
}
.creatives .experience{
    background-color: #cdb30c;
    padding: 20px;
    color:#fff;
    position: absolute;
    width: 410px;
    left: -50px;
}
.creatives .experience i{
    width: 70px;
    height: 70px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 36px;
    display: inline-flex;
    margin-right: 20px;
    
}
.creatives .experience h2{
    margin-bottom: 0;
    color:#fff;
    
}
.creatives .experience h3{

    font-size: 12px;
    font-weight: 14;
    color:rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-weight: 700;
}

  
  
  /* Creative end */
  /* Information start */

  .information{
      height: 300px;     
      background: url(../img/Information/xbg_4.jpg.pagespeed.ic.Hn_rroj71A.webp) no-repeat  center center;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      
     
  }
  

  .information .info-box{
    color:#fff;
    font-size: 24px;
    display: inline-block;
    /* width: 235px; */
}
.information .info-box .icon-box{
    background-color:#cdb30c ;
    width: 70px;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    display: inline-block;
    margin-right: 20px;
}
.information .info-box i{
    font-size: 50px;
    margin:2px 0 2px 3px;
   
}
.information .info-box h2 {
    font-size: 32px;
    font-weight: 700;
    /* line-height: 58px; */
    
  

}

.information .info-box h4{
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-transform: uppercase;
}


  /* Information end */


