body{
   margin: 0;
   padding: 0;
   text-align: center;
}
.header{
    width: 100%;
    border:1px solid black;
    margin-bottom: 5px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    min-height: 600px;
}
.content{
    width: 65%;
    border:1px solid black;
    margin-right: 5px;
}
.sidebar{
    width: 35%;
    border:1px solid black;
}
.footer{
    width: 100%;
    border:1px solid black;
    margin-top: 5px;
}